<!DOCTYPE html>
<html lang="en" class="is-loading">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="description" content="{{ description }}">
    <meta name="theme-color" content="#00101f">
    <meta name="theme-color" content="#f5f6f8" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#00101f" media="(prefers-color-scheme: dark)">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" media="(prefers-color-scheme: light)">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/x-icon" href="/assets/logos/favicon-logo.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/logos/favicon-logo-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/favicon-logo-32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/favicon-logo-apple.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/logos/favicon-logo-chrome.png">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-v5-latin-regular.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-v5-latin-500.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-v5-latin-600.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-mono-v6-latin-500.woff2">
    <link as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-v5-latin-300.woff2">
    <link as="font" type="font/woff2" crossorigin href="/assets/fonts/geist-mono-v6-latin-600.woff2">
    <link as="font" type="font/woff2" crossorigin href="/assets/fonts/GeneralSans-VariableItalic.woff2">
    <link as="font" type="font/woff2" crossorigin href="/assets/fonts/instrument-serif-v5-latin-italic.woff2">
    <link rel="preload" href="/css/critical.css" as="style">
    <link rel="stylesheet" href="/css/critical.css">
    <link rel="stylesheet" href="/css/style-main.css">
    <link rel="stylesheet" href="/css/style-pages.css">
    <link rel="preload" as="image" type="image/webp" href="/assets/logos/business-logo.webp">
    <script src="/js/gsap.min.js" defer></script>
    <script src="/js/scrolltrigger.min.js" defer></script>
    <script type="module" src="/js/bundle.js" defer></script>
    <noscript>
      <link rel="stylesheet" href="/css/style.css">
    </noscript>
    <title>{{ title }}</title>
  </head>
  <body class="{{ body_class }}">
    {% include "header.njk" %}
    {% include "decor.njk" %}

    <main id="swup" class="transition-slide">
      {% block content %}{% endblock %}
    </main>

    {% include "footer.njk" %} 
  </body>
</html>