<header id="header" class="home-header header" data-swup-replace="header">
  <a href="#swup" class="skip-to-content">Skip to main content</a>

  <div class="header__container">
    <div class="wrapper wrapper--header">



    </div>
  </div>
</header>