<header id="header" class="home-header header" data-swup-replace="header">
  <a href="#swup" class="skip-to-content">Skip to main content</a>

  <div class="header__container">

      <div id="swup-header" class="swup-header">
        <div class="business-logo-container">
          <a href="/">
            <img id="business-logo" src="/assets/logos/business-logo-white.webp" class="business-logo" width="200" height="70" fetchpriority="high" decoding="async" loading="eager" alt="Algarve Webcraft's logo.">
          </a>
        </div>

        <nav id="navigation" class="nav-bar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/work/">Recent Work</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </div>

      <a href="/contact/" class="cmp-main-btn cmp-main-btn--header-btn">START NOW</a>

      <div class="hamburger-btn-box">
        <button class="hamburger-btn" id="hamburger" aria-label="Toggle The Navigation Menu" aria-controls="navigation" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>

  </div>
</header>