---
title: 'Recent Work | Algarve WebCraft'
description: 'Explore recent websites built by Algarve Webcraft and see how our hand-coded, high-performance websites help local businesses grow online.'
body_class: 'secondary'
footer_text: "Let's build the website your business"
footer_span: 'deserves.' 
---

{% extends "base.njk" %}
{% block content %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 4 / SECTION-ONE / HERO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section class="cmp-hero-section" aria-labelledby="hero-section">
  <div class="wrapper wrapper--tablet-48">

    <div class="cmp-header-text-container cmp-header-text-container--pg1-hero">
      <span class="cmp-topper-heading">{{ work_topper }}</span>
      <h1 id="hero-section" class="cmp-hero-heading">{{ work_heading }}<br><span class="cmp-heading-span cmp-heading-span--hero cmp-gradient-text">{{ work_span }}</span></h1>
      <p class="cmp-main-text">{{ work_text }}</p>
    </div>

  </div>
</section>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 4 / SECTION-TWO / WORK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section class="cmp-main-section cmp-main-section--no-top"> 
  <div class="wrapper wrapper--mobile-38">

    <div class="work-section-container">
      <div class="work-card" data-animate="shutter-horizontal">
        <a href="{{ garden_link }}">
          <img src="/assets/images/the-garden-home-small.webp" width="650" height="312" loading="lazy" decoding="async" alt="{{ img_text_1 }}">
        
          <div class="work-card__text">
            <span class="cmp-topper-heading">{{ work_restaurant }}</span>
            <h2>The Garden Bar & Grill</h2>
            <p>{{ work_restaurant_text }}</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="{{ bueni_link }}">
          <img src="/assets/images/bueni-home-small.webp" width="650" height="317" loading="lazy" decoding="async" alt="{{ img_text_2 }}">
        
          <div class="work-card__text">
            <span class="cmp-topper-heading">{{ work_restaurant }}</span>
            <h2>Bueni</h2>
            <p>{{ work_restaurant_text }}</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="{{ algarve_link }}">
          <img src="/assets/images/algarve-home-small.webp" width="650" height="297" loading="lazy" decoding="async" alt="{{ img_text_3 }}">
        
          <div class="work-card__text">
            <span class="cmp-topper-heading">{{ work_software }}</span>
            <h2>Algarve Webcraft</h2>
            <p>{{ work_software_text }}</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="{{ hudson_link }}">
          <img src="/assets/images/hudson-home-small.webp" width="650" height="302" loading="lazy" decoding="async" alt="{{ img_text_4 }}">
        
          <div class="work-card__text">
            <span class="cmp-topper-heading">{{ work_freelance }}</span>
            <h2>Hudson Designer profile</h2>
            <p>{{ work_freelance_text }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}