---
title: 'Recent Work | Algarve WebCraft'
description: 'Explore recent websites built by Algarve Webcraft and see how our hand-coded, high-performance websites help local businesses grow online.'
body_class: 'secondary'
footer_text: "Let's build the website your business"
footer_span: 'deserves.' 
---

{% extends "base.njk" %}
{% block content %}
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 4 / SECTION-ONE / HERO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section class="cmp-hero-section" aria-labelledby="hero-section">
  <div class="wrapper wrapper--tablet-48">

    <div class="cmp-header-text-container cmp-header-text-container--pg1-hero">
      <span class="cmp-topper-heading">RECENT WORK</span>
      <h1 id="hero-section" class="cmp-hero-heading">Sites that make small businesses <br><span class="cmp-heading-span cmp-heading-span--hero cmp-gradient-text">look serious.</span></h1>
      <p class="cmp-main-text">Every website is thoughtfully designed and hand-coded with performance, usability and long-term growth in mind, helping customers feel confident from the very first click.</p>
    </div>

  </div>
</section>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PAGE 4 / SECTION-TWO / WORK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<section class="cmp-main-section cmp-main-section--no-top" aria-labelledby="">
  <div class="wrapper wrapper--mobile-38">

    <div class="work-section-container">
      <div class="work-card" data-animate="shutter-horizontal">
        <a href="/work/the-garden/">
          <img src="/assets/images/the-garden-home-small.webp" width="650" height="312" loading="lazy" decoding="async" alt="The case study for the resaurant The Garden, created by Algarve Webcraft.">
        

          <div class="work-card__text">
            <span class="cmp-topper-heading">Restaurant</span>
            <h2>The Garden Bar & Grill</h2>
            <p>Restaurant based in Lagos.</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="/work/bueni/">
          <img src="/assets/images/bueni-home-small.webp" width="650" height="317" loading="lazy" decoding="async" alt="The case study for the restaurant Bueni, created by Algarve Webcraft.">
        

          <div class="work-card__text">
            <span class="cmp-topper-heading">Restaurant</span>
            <h2>Bueni</h2>
            <p>Restaurant based in Lagos.</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="/work/algarve-webcraft/">
          <img src="/assets/images/algarve-home-small.webp" width="650" height="297" loading="lazy" decoding="async" alt="The case study for the old website for ALgarve Webcraft, created by Algarve Webcraft.">
        

          <div class="work-card__text">
            <span class="cmp-topper-heading">Software</span>
            <h2>Algarve Webcraft</h2>
            <p>Software company based in Lagos.</p>
          </div>
        </a>
      </div>

      <div class="work-card" data-animate="shutter-horizontal">
        <a href="/work/hudson/">
          <img src="/assets/images/hudson-home-small.webp" width="650" height="302" loading="lazy" decoding="async" alt="The case study for the designer template, Hudson designs, created by Algarve Webcraft.">
        

          <div class="work-card__text">
            <span class="cmp-topper-heading">Freelancer</span>
            <h2>Hudson Designer profile</h2>
            <p>Freelancer portfolio</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}